/* to display text in front of the aframe canvas*/
/*
a-scene{
  z-index: -1;
}
*/
body {
  background-color: black;
  font-family: var(woff);
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

video {
  width: 100%;
  margin: auto; 
}


.btn {
  background-color: black;
  position: sticky;
  border: none;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}


.contenedor1 p{
  font-size: 32px;
}

.contenedor1{
  width: 40%;
  height: 150px;
  padding: 25%;
  text-align: center;
  margin: auto; 
}
.contenedor1 p{
  color: greenyellow;
}
a:link, a:visited {
  background-color: #50154b50;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: rgba(23, 13, 68, 0.199);
  text-align: center;
  font-size: large;
  color: cyan;
}
.controller {
    position: fixed;
    display: block;
    width: 100px;
    height: 100px;
    left: 25px;
    bottom: 20px;
    background-color: #00000080;
    z-index: 20;
    border-radius: 50%;
    border: 3px solid rgb(31, 31, 31);
    background-image: url("/resources/controller.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 32px 32px;
    filter: alpha(opacity=50);
    -khtml-opacity: 0.5;
    -moz-opacity: 0.5;
    opacity: 0.5;
}